@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* Navigation Links */

.uppercase {
    text-transform: uppercase;
}
/* Body Text */

.body-text {
    background-color: red;
    color:white;
/*    background: rgba(0, 0, 0, 0.5);*/
}

/* Menu */

.menu-item {
    border: solid 3px;
    border-radius: 24px;
    padding:2px 6px;
    margin-top: 5px;
    color:#2B0C0B;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.menu-item a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
}

.menu-item a i {
    align-items: center;
    margin-right: 5px;
    color:#DD3A4F;
}

.menu-item:hover{
    color:#DD3A4F;
}

/* Body */

.name {
    margin-top: -30px;
    font-family: 'Roboto',sans-serif;
    text-shadow:0px 0px 10px rgba(221, 58, 79, 1);
}

.title {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}

ul {
    display: inline-block;
    text-align: left;
  }

  .line-break {
    border-color:#B7190E;
    border-width: 0.5px;
    width: 90%;
    margin: 20px auto;
  }

  .main-text {

    position: relative;
  }


  body {
    position: relative;
    color: #fff; /* Text color */

}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/Solid_black.png');
    background-size: cover;
}

body::before {
    content: '';
    position: fixed;
    top: -10%; /* Adjust the top and left values to control the positioning */
    left: -10%;
    width: 120%; /* Oversize the width */
    height: 120%; /* Oversize the height */
    background-image: url('../images/Transcend.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black overlay */
    z-index: -2; /* Place the overlay behind the content */
    filter: blur(20px) brightness(0.8); /* Optional: Apply blur to the overlay */

}

/* Footer */

.footer-content p {
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-weight: 200;
}

/* Social Icons */

.social-icon {
    font-size: 30px;
    border: #DD3A4F;
    color: #fff;
}

.social-icon:hover {
    color:#DD3A4F;
    border: #DD3A4F;
}

/* Carousel */

#myImageCarousel {
    height:60%;
    width: 60%;
    margin: 20px auto;
}

.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

#myImageCarousel {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    #myImageCarousel {
        max-width: 80%; /* Adjust the width for smaller screens */
    }

    .carousel-item img {
        max-height: 100%; /* Adjust the maximum height for smaller screens */
    }
}
